cffi==1.12.3
config==0.4.0
dlib==19.16.0
Flask==0.12.3
Flask-Cors==3.0.2
Flask-PyMongo==0.4.1
gevent==1.4.0
numpy==1.14.0
opencv-python==3.4.1.15
pandas==0.20.1
pymongo==3.4.0
scikit-learn==0.18.1
scipy==1.0.0
six==1.11.0
Werkzeug==0.11.11

